@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nawras: #3B82F6;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nawras: var(--nawras);

  --spacing-w10rem: 10rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
}
